body
{
    background-color: white;
    font-family: Tahoma;
    font-size: 1em;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li
{
	float: left;
        margin: 5px;
}

li a
{
	display: block;
	color: black;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
        border: 1px solid black;
}

li a:hover
{
    color: white;
    background-color: #333;
}